/*page 1*/
.main {
  background-color: rgb(224, 234, 243);
  background-size: cover;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr;
  position: relative;
  background-repeat: no-repeat;
}
.title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  color: rgb(82, 222, 89);
  font-style: italic;
  padding-top: 25%;
}
.title h1 {
  font-size: 70px;
}
.navbar {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: rgb(27, 153, 111);
  color: aliceblue;
}
.collapse {
  padding-top: 15px;
  padding-bottom: 5px;
  color: #000;
}
.navbar-brand {
  color: aliceblue;
}
.nav-link {
  color: aliceblue;
}
/*page2*/
.image {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 20px;
}

.container-page2 {
  display: flex;
  justify-content: center;
  background-color: rgb(224, 234, 243);
  padding: 50px;
}
.carousel-item {
  width: 100%;
  align-items: center;
}
.menu {
  padding-right: 100px;
}

.list-group-item {
  background-color: rgb(224, 234, 243);
}
/*page3*/
.container-page3 {
  padding: 50px;
  background-color: rgb(224, 234, 243);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.card-contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  background-color: rgb(224, 234, 243);
}
.description {
  padding-left: 70px;
  background-color: rgb(224, 234, 243);
}
/*page 4*/
.page-4 {
  background-color: rgb(224, 234, 243);
  padding: 100px;
}
/*page 5*/

.contain-page5 {
  background-color: rgb(224, 234, 243);
  display: grid;
  grid-template-columns: 15px 0.5fr 1fr 15px;
  grid-template-rows: 30px 1fr 30px;
  background-size: cover;
  height: 100vh;
}
.cabang {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 80px;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: rgb(22, 99, 161);
  padding: 10px;
}
.contact {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 120px;
}
table th td {
  border: #000 solid 3px;
}
